th {
	background-color: #00008B;
	color: white;
	border: 2px dashed black;
}

th, td {
	padding: 10px;
	text-align: center;    
}

.row0{
	background-color: #d3d3d3;
}

td {
	border: 2px solid black;
}

.remain-bal {
	text-align: right;
}